*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:darksalmon;
    font-style: italic;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid pink;
    
}
#imagemlogo{
    background-image: url(IMG/logotipo.jpeg);
    width: 15%;
    height: 150px;
    background-position: center;
    background-size: cover;
}
nav{
    text-align: center;
    margin-top: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav a{
    color: gray;
    text-decoration: none;
    padding: 0px 40px 10px 0px;
    font-size: 23pt;
    position: relative;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;

}
button {
    cursor: pointer;
    padding: 1px;
    font-size: 15px;
}
.qty {
    display: flex;
    padding: 5px 0;
    background:darkgrey;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
}
main {
    background: gainsboro;
    padding: 0 30px;
}
main .page-title{
    font-size: 40px;
    text-align: center;
    padding: 50px 0;

}
.content{
    display: flex;
}
.content section{
    flex: 1;

}
.content aside{
   background: #dddddda8;
   margin-bottom: 15px;
   border: 3px solid cornsilk;
   text-align: center;  
   padding: 10px 30px;  
}
.info{
    padding: 1px;
    margin-bottom: 10px;
}
table {
    width: 100%;

}
th {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
    color:dimgray;
}
.product {
    display: flex;
    align-items: center;
}
img {
    border-radius: 6px;
}
.info {
    margin-left: 20px;
    text-align-last:center;
    flex-direction: column;


}
.name {
    font-size: 20px;
    margin-bottom: 10px;
}
.categoria{
    color: dimgray;
}

.btn1{
    background: gray;
    font-style: italic;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.btn2{
    background: green;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;

}

footer {
    background-color: darksalmon;
    font-style: italic;
    text-align: center;
    padding: 70px;
    border: 3px solid pink;
}
@media screen and (max-width: 500px) {
    nav a {
        font size: 18pt;
    }
    main .pagetitle{
        font-size: 30px;
        display: block;
    }
    main .info {
        display: block;
        flex-direction: column;
    }
}
